{% extends 'base.html' %}

{% block title_block %}Current Results{% endblock title_block %}


{% block body_block %}

{% if group == "Athlete" %}

  {% include 'frontEnd/navbar_athlete.html' %}

{% else %}

  {% include 'frontEnd/navbar.html' %}

{% endif %}

<br>

<div class="container-fluid">
  <h1>{{current_season}} Season Results</h1>
  <br>

  <div class="row">
      <div class="col-md-2">
        <div class="card card-body">

          <table>
            {% for session in sessions %}
            <tr>
              <td>
                <p class="session_date" id="{{session.id}}"><strong>{{session.type|capfirst}}</strong> {{session.date|date:"D d M Y"}}</p>

              </td>

            </tr>
            {% endfor %}
          </table>
        </div>
      </div>

      <div id="results_window" class="col-md-10">

      </div>
  </div>





</div>

{% endblock body_block %}
