{% extends 'base.html' %}

{% block title_block %}Current Results{% endblock title_block %}


{% block body_block %}

{% if group == "Athlete" %}

  {% include 'frontEnd/navbar_athlete.html' %}

{% else %}

  {% include 'frontEnd/navbar.html' %}

{% endif %}

<br>

<div class="container-fluid">
  <h1>{{current_season}} Season Results</h1>
  <br>

  <div class="row">
    <div class="col-md-3">
      <div class="card card-body">

        <table>
          {% for session in sessions %}
          <tr>
            <td>
              {{ session.type|capfirst }} 
            </td>
            <td>
              <a href="{% url 'frontEnd:sessionResults' pk=session.id %}">{{session.date|date:"l d M Y"}}</a>
            </td>
          </tr>
          {% endfor %}

        </table>


      </div>

    </div>

  </div>


</div>
{% endblock body_block %}
