{% extends 'base.html' %}
{% load static %}

{% block title_block %}Historic Erg Results{% endblock title_block %}

{% block scripts_block %}

  <script src="{% static 'frontEnd/js/ergData.js' %}" type="text/javascript"></script>

{% endblock scripts_block %}

{% block body_block %}

{% if group == "Athlete" %}

  {% include 'frontEnd/navbar_athlete.html' %}

{% else %}

  {% include 'frontEnd/navbar.html' %}

{% endif %}

<div class="container-fluid">
  <h1>Erg Results</h1>
  <br>
  <div id="ergGrid" class="ag-theme-alpine" style="height:800px; width:1000px;">

  </div>
</div>

{% endblock body_block %}
